<h1><%= @author.name %>'s Book Show Page</h1>

<h3>Books</h3><hr>
    <% @author.alphabetize(params[:alpha]).each do |book| %>
        <% if params[:page_limit].nil? %>
            <p>Title: <%= book.title %></p>
            <p>Page Count: <%= book.page_count %></p>
            <p>Fiction: <%= book.fiction %></p><hr>
        <% elsif book.page_count <= params[:page_limit].to_i %>
            <p>Title: <%= book.title %></p>
            <p>Page Count: <%= book.page_count %></p>
            <p>Fiction: <%= book.fiction %></p><hr>
        <% end %>
    <% end%>

    <%= form_with url:"/authors/#{@author.id}/books?limit=true", method: :get, local: true do |f| %>
        <%= f.label "Set Page Limit:" %>
        <%= f.number_field :page_limit %>
        <%= f.submit "Filter" %>
    <% end%>

<%= link_to "Alphabetize Books", "/authors/#{@author.id}/books?alpha=true" %>
<%= link_to "Add New Book", "/authors/#{@author.id}/books/new" %>