<h1><%= @book.title %> Show Page</h1>

<h3>Title: <%= @book.title %></h3>
<h3>Page Count: <%= @book.page_count %></h3>
<h3>Fiction: <%= @book.fiction %></h3>
<h3><%= button_to "Update", "/books/#{@book.id}/edit", method: :get %></h3>
<h3><%= button_to "Delete Book", "/books/#{@book.id}", method: :delete %></h3>